<p>orders works!</p>
<div class="card">
    <div class="card-body" >
      <h3 class="titulo text-center">ORDERS</h3>
      <table class="table">
        <thead>
            <tr>
                <td>OrderId</td>
                <td>customerId</td>
                <td>employeeId</td>
                <td>orderDate</td>
                <td>requiredDate</td>
                <td>shippedDate</td>
                <td>shipVia</td>
                <td>freight</td>
                <td>shipName</td>
                <td>shipAddress</td>
                <td>shipCity</td>
                <td> shipRegion</td>
                <td>shipPostalCode</td>
                <td>shipCountry</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of listOrders">
                <td>{{data.orderId}}</td>
                <td>{{data.customerId}}</td>
                <td>{{data.employeeId}}</td>
                <td>{{data.orderDate}}</td>
                <td>{{data.requiredDate}}</td>
                <td>{{data.shippedDate}}</td>
                <td>{{data.shipVia}}</td>
                <td>{{data.freight}}</td>
                <td>{{data.shipName}}</td>
                <td>{{data.shipAddress}}</td>
                <td>{{data.shipCity}}</td>
                <td>{{data.shipRegion}}</td>
                <td>{{data.shipPostalCode}}</td>
                <td>{{data.shipCountry}}</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>
